<% if current_user.role =='Administrator' %>
    <table class="table">
      <thead>
        <tr>
          <th class="header">Semesters</th>
        </tr>
      </thead>
      <tbody>
        <% @semesters.each do |semester| %>
          <tr>
            <td><%= link_to semester.name, "semesters/#{semester.id}" %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% end %>

<a href="#" class="button">Back</a>
