<% if current_user.role =='Administrator' %>
    <table class="table">
      <thead>
        <tr>
          <th class="header">Semesters</th>
        </tr>
      </thead>
      <tbody>
        <% @semesters.each do |semester| %>
          <tr>
            <td><%= link_to semester.name, "semesters/#{semester.id}" %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% end %>


<div class="back-button">
  <%= link_to 'Back', "users/#{@user.id}", class: "button" %>
</div>