<% if @user == current_user && @user.role == 'Student' %>
  <h2>Your GPA for <%= @semester.name %>: </h2>
  <h3><%= @gpa.round(2) %></h3>
<% else %>
  <% if @semester_enrollments.count == 0 %>
    <h4>There are no enrollments this semester!</h4>
  <% else %>  
    <h1>Enrollment Counts</h1>
      <table>
        <thead>
          <tr>
            <th>Course Title</th>
            <th>Enrollments</th>
          </tr>
        </thead>
        <tbody>
          <% @semester_enrollments.each do |enrollment| %>
            <tr>
              <td><%= enrollment.course.title %></td>
              <td><%= enrollment.course.enrollments.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>    
<% end %>
