<div class="row">
  <div class="header"><h1> Welcome to your Course Tracker </h1></div>
</div>
	<% if @user == current_user && @user.role == 'Student' %>
		<div class="large-4 large-centered columns">
			<a href="/courses" class="button">View Courses</a>
			<a href="/enrollments" class="button">My Enrollments</a>
		</div>	
	<% elsif @user == current_user && @user.role == 'Teacher' %>
		<div class="large-2 large-centered columns">
			<a href="/courses" class="button">View Courses</a>
		</div>
	<% else %>
		<div class="large-4 large-centered columns">
			<a href="/courses" class="button">View Courses</a>
			<a href="/semesters" class="button">View Semesters</a>
		</div>
	<% end %>
