<div class="row">
  <div class="small-6 columns">
    <h2>Features</h2>
      <h4>View Enrollments</h4>
        <p>
          Lorem ipsum dolor sit amet, an est admodum appetere. Sit nibh nostro scriptorem ex, legere vulputate ex mei. Essent omittantur et qui, at <b>vidit illud tritani</b> sea. Case audire ne est, saepe veniam assueverit est eu. Mei debet mollis utamur et, an per illum ullum dicta, aliquid suscipit an vim.
        </p>
      <h4>Calculate GPA</h4>
        <p>
          Ad elitr percipitur <b>intellegam</b> cum, partem interesset usu an. An nam ludus utroque, ad eam laoreet salutatus, at   quaestio erroribus quo. In sit rebum eligendi pertinax, suscipit intellegat his at, ex omnis moderatius assueverit vis. Ea deserunt ullamcorper instructior qui, sumo summo everti quo id.
        </p>
      <h4>Manage Students</h4>
        <p>
          Ad elitr percipitur intellegam cum, partem <b>interesset</b> usu an. An nam ludus utroque, ad eam laoreet salutatus, at   quaestio erroribus quo. In sit rebum eligendi pertinax, suscipit intellegat his at, ex omnis moderatius assueverit vis. Ea deserunt <b>ullamcorper instructior</b> qui, sumo summo everti quo id.
        </p>
      <h4>View Counts and Average Grade</h4>
        <p>
          Ad elitr <b>percipitur</b> intellegam cum, partem interesset usu an. An nam ludus utroque, ad eam laoreet salutatus, at   quaestio erroribus quo. In sit rebum eligendi pertinax, suscipit intellegat his at, ex omnis moderatius assueverit vis. Ea deserunt ullamcorper instructior qui, sumo summo everti quo id.
        </p>    
  </div>

  <div class="small-5 columns">
    <h2>About Course Tracker</h2>
    <p>
      Lorem ipsum dolor sit amet, an est admodum appetere. Sit nibh nostro scriptorem ex, legere vulputate ex mei. Essent omittantur et qui, at vidit <b>illud tritani sea</b>. Case audire ne est, saepe veniam assueverit est eu. Mei debet mollis utamur et, an per illum ullum dicta, aliquid suscipit an vim.
    </p>
    <p>
      Ad elitr percipitur <b>intellegam</b> cum, partem interesset usu an. An nam ludus utroque, ad eam laoreet salutatus, at   quaestio erroribus quo. In sit scipit intellegat his at, ex omnis moderatius assueverit vis. Ea deserunt <b>ullamcorper</b> instructior qui, sumo summo everti quo id.
    </p>
    <p>
      Ad elitr percipitur intellegam cum, partem interesset usu an. An nam ludus utroque, ad eam laoreet salutatus, at   quaestio erroribus quo. Ea <b>deserunt</b> ullamcorper instructior qui, sumo summo everti quo id.
    </p>
  </div>
</div>