<h1>My Enrollments</h1>
	<table class="table">
		<thead>
			<tr>
				<th class="header">Course</th>
				<th class="header">Grade</th>
				<th class="header">Semester</th>
			</tr>
		</thead>
		<tbody>
			<% @student_enrollments.each do |enrollment| %>
				<tr>
					<td><%= Course.find(enrollment[:course_id]).title %></td>
					<td><%= enrollment.grade %></td>
					<td><%= link_to "#{enrollment.course.semester.name}", "semesters/#{enrollment.course.semester.id}" %><td>
				</tr>
			<% end %>	
		</tbody>
	</table>

	<%= link_to 'Back', "users/#{@user.id}", class: "button" %>