<h1 class="header">My Enrollments</h1>
	<table class="table">
		<thead>
			<tr>
				<th class="header">Course</th>
				<th class="header">Grade</th>
				<th class="header">Semester</th>
			</tr>
		</thead>
		<tbody>
			<% @student_enrollments.each do |enrollment| %>
				<tr>
					<td><%= link_to Course.find(enrollment[:course_id]).title, "/courses/#{Course.find(enrollment[:course_id]).id}" %></td>
					<td><%= enrollment.grade %></td>
					<td><%= link_to enrollment.course.semester.name, "semesters/#{enrollment.course.semester.id}" %><td>
				</tr>
			<% end %>	
		</tbody>
	</table>

<div class="back-button">
	<%= link_to 'Back', "users/#{@user.id}", class: "button" %>
</div>