$main-color: #9B111E;

.form {
  position: absolute;
  left: 30%;
  right: 30%;
  width: 40%;
}

.back-button {
  position: absolute;
  top: 36em;
}

a.button {
  background-color: $main-color;
  &:hover {
    background-color: darken($main-color, 10%);
  }
}  

.top-bar .name h1 {
  color: white;
}

 .header {
  text-align: center;
 }

 .average {
  text-align: left;
 }

.average1 {
  text-align: left;
  padding-left: 4em;
  color: $main-color;
 }

.table {
  position: relative;
  left: 10%;
  right: 10%;
  bottom: -30%;
  width: 80%;
  border-color: $main-color;
  border-width: 2px;
}
