/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

.form {
  position: absolute;
  left: 30%;
  right: 30%;
  width: 40%;

}

.back-button {
  position: absolute;
  top: 34em;
}

a.button {
  background-color: #9B111E;
  
}
a.button:hover {
  background-color: #660000;
}

.top-bar .name h1 {
  color: white;
}
 .header {
  text-align: center;
 }

.table {
position: relative;
left: 10%;
right: 10%;
bottom: -30%;
width: 80%;
border-color: #9B111E;
border-width: 2px;  
}
